<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.efficacious.centralmodelschool"
    android:targetSandboxVersion="1">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- <uses-permission android:name="android.permission.SEND_SMS"/> -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.AddressForm"></activity>
        <activity android:name=".fragment.ApplyNotice" />
        <activity android:name=".activity.EntityNameActivity" />
        <activity
            android:name=".activity.LibraryActivity"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- <activity -->
        <!-- android:name=".activity.EntityNameListActivity" -->
        <!-- android:theme="@style/AppTheme.NoActionBar" /> -->
        <activity android:name=".activity.NewmessegesActivity" />
        <activity
            android:name=".activity.StudentList"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MessagingActivity"
            android:label="@string/title_activity_messaging"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="954d3b4ecdd48ebabcaf22d2d9b6ea946d791890" />

        <activity android:name=".activity.Aboutus" />
        <activity
            android:name=".activity.Login_activity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".dialogbox.Standard_division_dialog"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".dialogbox.Book_Details_dialog"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".dialogbox.Diary_image_dialogBox"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".dialogbox.image_zoom_dialog"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".dialogbox.Gallery_dialogBox"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".Tab.Admin_LeaveList"
            android:label="Leave List" />
        <activity
            android:name=".MultiImages.activities.AlbumSelectActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/MultipleImageSelectTheme">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MultiImages.activities.ImageSelectActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/MultipleImageSelectTheme">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Gmail_login"
            android:label="Gmail Verification" />
        <activity android:name=".MultiImages.activities.MainImages" />
        <activity android:name=".activity.Notifiacton" />
        <activity android:name=".activity.MessageCenterActivity" />
        <activity android:name=".activity.NoticeboardActivity" />
        <activity android:name=".MultiImages.activities.Single_image" />
        <activity android:name=".activity.IndividualChat" />
        <activity android:name=".MultiImages.activities.Three_Images" />

        <service android:name=".FCMServices.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".FCMServices.MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>
    </application>

</manifest>